# Asterisk 
ASTERISK_URL_CERTIFIED=https://downloads.asterisk.org/pub/telephony/certified-asterisk/releases
ASTERISK_URL=https://downloads.asterisk.org/pub/telephony/asterisk
ASTERISK_SRC_FILE=asterisk-certified-16.8-cert14.tar.gz

# Issabel
ISSABEL_ADMIN_PASSWORD=ADMIN
LANGUAGE=en_EN
ISSABLE_SETTINGS_TABLE=issabelpbx_settings

# Letsencrypt
LETSENCRYPT_HTTPS_URL=
LETSENCRYPT_EMAIL=
HTTPSCERTFILE=/etc/asterisk/keys/asterisk_cert_file.pem
HTTPSPRIVATEKEY=/etc/asterisk/keys/asterisk_privkey.pem